@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
/*ヤフーマップ表示のcss*/
#map,#pd_map {
    height: 100%;
    width:100%;
    border:2px solid #000;
    border-radius:10px;
}

#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*全体のフォント設定したい*/
ons-toolbar .center,.question_box,.answer_box,.answer_box input,ons-select,.answer_box .button,.list-item__center{
	font-display: swap;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
#load_text{
	font-size:150%;
}
/*アプリ内のすべてのイメージの共通CSS*/
.travel_image{
	width:100%;
}


/*questionの質問テキストが入っている要素のCSS*/
.question_text{
	position: absolute;
	top:10px;
	left:10%;
	width:80%;
	z-index: 10;	
}

/*question画面のイメージのCSS*/
#question_imge{
	position: absolute;
	top:-5px;
	left:3%;
	width:94%;
	z-index: 0;
}


/*上のツールバー*/
ons-toolbar .center{
	font-size: 150%;
}


/*ツールバーのホームへ戻るボタン*/
.home_back,#remove_plan,#release_plan,#edit_plan{
	background-color:rgba(255,0,0,0);
	color:#0076ff;
	vertical-align: top;
	height:41px;
	width:100px;
	margin-bottom:1px;
	padding-top:6px;
	padding-left:0px;
	padding-right:8px;
}
.home_back:active,#remove_plan:active,#release_plan:active{
	opacity:0.5;
	background-color: white;
}

/*質問などが入っている要素*/
.question_box{
	margin-top:10px;
	text-align: center;
	width:90%;
	height:50%;
	margin-left:auto;
	margin-right:auto;
	font-size:140%;
}

/*選択肢、ボタンが入った要素*/
.answer_box{
	margin-top:30px;
	text-align: center;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
}

/*アンサーボックスの中のボタン*/
.answer_box ons-button{
	margin-top:20px;
	width:200px;
	font-size:120%;
}

/*入力、選択ボックスの共通CSS*/
.answer_box input,ons-select{
	height:40px;
	width:100%;
	font-size:20px;
}

/*セレクトボックスの文字大きさを変更*/
.select-input{
	font-size:20px;
}
ons-select{
	margin-top:10px;
}

/*入力ボックスのCSS*/
.answer_box input{
	margin-top:30px;

}

/*選択ボックスのCSS*/
.answer_box ons-select{
	margin-bottom:40px;
}

/*サブタイトル（少し文字を大きくしたい）*/
.sub_title{
	margin-top:10px;
	font-size:120%;
}

/*list-itemのCSS*/
.list-item__center{
	height:50px;
	padding-right:14px;
}

/*並び替えでのリストの拡大*/
.big_item{
	background-color:blue;
	width:110%;
	height:110%;
}

/*プラン履歴のプラン内の名前*/
.plan_item_name{
	width:85%;
	height:100%;
	border:3px solid #000;
	border-radius:10px;
	padding-top:6px;
	font-size:150%;
	text-align:center;
}
/*プラン履歴のプラン内のボタン*/
.route_item,.generation_item{
	height:30px;
	padding-top:0;
	padding-bottom:0;
}
/*プラン履歴のプラン内の時間表示*/
.plan_item_time{
	width:80%;
	margin-left:20%;
}
.text_check{
	float:left;
	width:100px;
}


/*削除、解除ボタンが入るツールバーの右側*/
.remove_box{
	padding-top:0;
	padding-bottom:0;
	padding-right:12px;
}

/*アンサーボックス内にあるボタンのCSS*/
.answer_box .button {
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	background: #0076ff;
	color: #FFF;
	border-bottom: solid 4px #435885;
	border-radius: 10px;
	font-size:150%;
}

/*アンサーボックス内にあるボタンを押したときのCSS*/
.answer_box .button:active {
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	margin-bottom:4px;
	border-bottom: none;
	opacity:1;
}

/*ホーム画面と出発地選択画面ではquestion_boxのCSS変更*/
#home .question_box,#departure .question_box{
	height:30%;
}

/*ホーム画面と出発地選択画面ではons-buttonのCSS変更*/
#home .answer_box ons-button,#departure .answer_box ons-button{
	margin-top:45px;
}

/*プラン履歴画面の完了ボタン、キャンセルボタンの共通CSS*/
#change_completion_plan,#change_cancel_plan{
	position: absolute;
	bottom:20px;
}
/*プラン履歴画面の完了ボタンCSS*/
#change_completion_plan{
	right:20px;
}
/*プラン履歴画面の完了ボタン、キャンセルボタンの共通CSS*/
#change_cancel_plan{
	left:20px;
}

/*詳細画面のURL自動改行*/
#detail_url{
	overflow-wrap:break-word;
	word-break:break-all;
}

/*プラン履歴画面でのタイトルのCSS*/
#check_plan_title{
	text-align:center;
	height:28px;
	margin-bottom:20px;
}
#check_plan_title .text-input{
	font-size:100%;
	height:28px;
	border:1px solid #000;
}
.alert-dialog-content ons-input{
	width:100%;
}