@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

/*始めすべてのページ*/
/*全体のフォント設定したい*/
ons-toolbar .center,.question_box,.answer_box,.answer_box input,ons-select,.answer_box .button,.list-item__center{
	font-display: swap;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

/*上のツールバー*/
ons-toolbar .center{
	font-size: 150%;
}

/*アプリ内のすべてのイメージの共通CSS*/
.travel_image{
	width:100%;
}

/*ツールバーのホームへ戻るボタン*/
.home_back,#remove_plan,#release_plan,#edit_plan{
	background-color:rgba(255,0,0,0);
	color:rgb(0, 118, 255);
	vertical-align: top;
	height:41px;
	width:100px;
	margin-bottom:1px;
	padding-top:6px;
	padding-left:0px;
	padding-right:8px;
}
/* .back-button__icon,.back-button{
	color:hsl(195, 63%, 53%);
	fill:rgb(58,171,210);
} */
/*ツールバーのホームへ戻るボタンクリック時*/
.home_back:active,#remove_plan:active,#release_plan:active{
	opacity:0.5;
	background-color: white;
}

/*選択肢、ボタンが入った要素*/
.answer_box{
	margin-top:30px;
	text-align: center;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
}

/*アンサーボックスの中のボタン*/
.answer_box ons-button{
	margin-top:20px;
	width:90%;
	font-size:120%;
}

/*入力、選択ボックスの共通CSS*/
.answer_box input,ons-select{
	height:40px;
	width:100%;
	font-size:20px;
}

/*入力ボックスのCSS*/
.answer_box input{
	margin-top:30px;

}


/*選択ボックスのCSS*/
.answer_box ons-select{
	margin-bottom:40px;
}

/*サブタイトル（少し文字を大きくしたい）*/
.sub_title{
	margin-top:10px;
	font-size:120%;
}

/*list-itemのCSS*/
.list-item__center{
	height:50px;
	padding:0;
}

/*アンサーボックス内にあるボタンのCSS*/
.answer_box .button {
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	background: #0076ff;
	color: #FFF;
	border-bottom: solid 4px #435885;
	border-radius: 10px;
	font-size:150%;
}

/*アンサーボックス内にあるボタンを押したときのCSS*/
.answer_box .button:active {
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	margin-bottom:4px;
	border-bottom: none;
	opacity:1;
}

/*目的のイメージのCSS*/
/* .purpose_image{
	height:80%;
	border:2px solid #000;
	border-radius:20px;
} */
ons-list-item{
	color: black;
	position:relative;
	background: #f1f8ff;/*バーの色*/
	line-height: 1.5;
	margin-bottom: 4px;
	list-style-type: none!important;
}

/*リスト内の画像のCSS*/
ons-list-item .purpose_image{
	background-color:#5aade6;
	border-color:#5aade6;
	border-radius:0;
	padding:5px;
	margin-left:0;
	border:0;
	height:80%;
	margin-right:5px;
}
/*新しいセレクトボックスのCSS*/
.select_box{
	height:40px;
}

/**/
.detail_item{
	height:80%;
	padding:0 5px 0 5px;
}
.detail_item .plan_image{
	height:80%;
	margin:10% 0 10% 0 ;
}

/*プランを表示するイメージのCSS*/
.plan_image{
	height:100%;
}

/*ここまで全てのページ*/

/*始めホームページ*/

/*ホームにあるボタン*/
#home ons-button{
	margin-top: 40px;
    line-height: 250%;
    width: 90%;
    font-size: 200%;
}

/*ここまでホームページ*/

/*始め質問ページ*/

/*questionの質問テキストが入っている要素のCSS*/
.question_text{
	position: absolute;
	top:10px;
	left:10%;
	width:80%;
	z-index: 10;	
}

/*question画面のイメージのCSS*/
#question_imge{
	position: absolute;
	top:-5px;
	left:3%;
	width:94%;
	z-index: 0;
}


/*質問などが入っている要素*/
.question_box{
	margin-top:10px;
	text-align: center;
	width:90%;
	height:50%;
	margin-left:auto;
	margin-right:auto;
	font-size:140%;
}

/*ここまで質問ページ*/

/*始めプラン詳細ページ*/

/*並び替えでのリストの拡大*/
.big_item{
	background-color:blue;
	width:110%;
	height:110%;
}

/*プラン詳細の施設名の名前*/
.plan_item_name{
	width:70%;
	/*border:3px solid #000;*/
	/*border-radius:10px;*/
	padding-top:6px;
	padding-bottom:6px;
	font-size:150%;
	/*text-align:center;*/
}

/*プラン詳細の施設詳細表示のボタン*/
.route_item{
	height:30px;
	padding-top:0;
	padding-bottom:0;
}

/*プラン詳細の施設間の時間表示*/
.plan_item_time{
	width:80%;
	margin-left:20%;
}

/*プラン詳細画面の完了ボタン、キャンセルボタンの共通CSS*/
#change_completion_plan,#change_cancel_plan{
	position: absolute;
	bottom:20px;
}

/*プラン詳細画面の完了ボタンCSS*/
#change_completion_plan{
	right:20px;
}

/*プラン詳細画面の完了ボタン、キャンセルボタンの共通CSS*/
#change_cancel_plan{
	left:20px;
}

/*プラン詳細画面でのタイトルのCSS*/
#check_plan_title{
	text-align:center;
	height:28px;
	margin-bottom:20px;
}
/*プラン詳細画面での編集時のタイトル入力欄*/
#check_plan_title .text-input{
	font-size:100%;
	height:28px;
	border:1px solid #000;
}

#plan_check ons-list-item{
	padding:0;
}



/*ここまでプラン詳細ページ*/

.text_check{
	float:left;
	width:100px;
}

/*始めプラン履歴のページ*/

/*削除、解除ボタンが入るツールバーの右側*/
.remove_box{
	padding-top:0;
	padding-bottom:0;
	padding-right:12px;
}

/**/
#plan_history ons-list-item{
	color: black;
	position:relative;
	background: #f1f8ff;/*バーの色*/
	line-height: 1.5;
	margin-bottom: 4px;
	list-style-type: none!important;
}
#plan_history ons-list-item img{
	background-color:#5aade6;
	border-color:#5aade6;
	border-radius:0;
	padding:5px;
	margin-left:0;
	border:0;
	height:80%;
}
#plan_history ons-list-item{
	padding:0;
}

/*ここまでプラン履歴のページ*/

/*ホーム画面と出発地選択画面ではquestion_boxのCSS変更*/
#home .question_box,#departure .question_box{
	height:30%;
}

/*ホーム画面と出発地選択画面ではons-buttonのCSS変更*/
#departure .answer_box ons-button{
	margin-top:40px;
	line-height: 200%;
}

/*始め施設詳細ページ*/

/*詳細画面のURL自動改行*/
#detail_url{
	overflow-wrap:break-word;
	word-break:break-all;
}

/*ここまで施設詳細ページ*/

/*始め自動生成画面ページ*/
/*リストの1つのCSS*/
#generation ons-list-item{
	padding:0;
}
/*ここまで自動生成画面ページ*/

/*アラート画面の入力*/
.alert-dialog-content ons-input{
	width:100%;
}

#load_text{
	font-size:150%;
}

/*ヤフーマップ表示のcss*/
#map,#pd_map {
    height: 100%;
    width:100%;
    border:2px solid #000;
    border-radius:10px;
}

#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}