@charset 'utf-8';
/*マップ表示のcss*/
#map {
   height: 100%;
   width:100%;
   border:2px solid #000;
   border-radius:20px;
}
#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/*上のツールバー*/
ons-toolbar .center{
	font-size: 130%;
}

/*質問などが入っている要素*/
.question_box{
	margin-top:10px;
	text-align: center;
	width:300px;
	height:280px;
	margin-left:auto;
	margin-right:auto;
	font-size:130%;
}

/*選択肢、ボタンが入った要素*/
.answer_box{
	margin-top:50px;
	text-align: center;
	width:300px;
	margin-left:auto;
	margin-right:auto;
}
/*アンサーボックスの中のボタン*/
.answer_box ons-button{
	margin-top:30px;
	width:200px;
	font-size:120%;
}
/*入力、選択ボックスの共通CSS*/
.answer_box input,ons-select{
	height:40px;
	width:250px;
	font-size:120%;
}
/*入力ボックスのCSS*/
.answer_box input{
	margin-top:30px;
}
/*選択ボックスのCSS*/
.answer_box ons-select{
	margin-bottom:30px;
}
/*サブタイトル*/
.sub_title{
	margin-top:10px;
	font-size:120%;
}
